.Back-btn {
  display: inline-flex;
  width: 100%;
  max-width: 123px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 72px 0 0 0;
  padding: 14px 24px;
  box-sizing: border-box;
  border: 1px solid rgb(82, 166, 222);
  ;
  border-radius: 100px;

}

.Back-icon {
  margin: 0 12px 0 0;
}

.Back-link {
  color: rgb(82, 166, 222);
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
}

.User-card_box {
  margin: -110px 0 0 0;
}

.User-card-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  margin: 0 0 80px 0;
}

.Btn-send-message {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 449px;
  padding: 14px 66px;
  box-sizing: border-box;
  border: 1px solid rgb(82, 166, 222);
  border-radius: 8px;
  margin: 0 32px 0 0;
}

.Btn-send-message-inner {
  color: rgb(82, 166, 222);
  font-family: SF Compact Display;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;

}

.Btn-send-numb {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 449px;
  padding: 14px 66px;
  box-sizing: border-box;
  border: 1px solid rgb(82, 166, 222);
  border-radius: 8px;
}

.Btn-send-numb-inner {
  color: rgb(82, 166, 222);
  font-family: SF Compact Display;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
}

/* ----------------------HEADER--------------------------------- */
.Header {
  width: 100%;
  margin: 0 0 44px 0;
}

.Header-background {
  background: linear-gradient(90.00deg, rgb(239, 242, 250),
      rgba(239, 242, 250, 0.7) 100%);
  width: 100vw;
  min-width: 1440px;
  min-height: 780px;
  position: absolute;
}

.Header-container {
  width: 1440px;
  margin: 0 auto;

}

.Header-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 29px 0 0 0;
}

.Header-logo {
  display: flex;
  text-align: center;
}

.Header-right-part {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.Header-user-name {
  color: rgb(2, 4, 2);
  font-family: SF Compact Display;
  font-size: 16px;
  font-weight: 500;
  line-height: 135%;
  letter-spacing: 1px;
  margin: 0 16px 0 0;
}

.Right-part-icons img:not(:last-child) {
  margin: 0 24px 0 0;
}

/* ----------------User-card-------------------------- */
.User-card {
  margin: -50px 0 0 0;
}

.User-card-container {
  width: 918px;
  margin: 0 auto;
}

.User-card-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.User-card-avatar {
  margin: 0 0 24px 0;
}

.User-card-fullname {
  margin: 0 0 24px 0;
}

.Fullname-text {
  color: rgb(2, 4, 2);
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 1px;
  margin: 0;
}

.User-card-rate {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 0 16px 0;

}

.rate-icon {
  margin: 0 6px 0 0;
}

.rate-text {
  color: rgb(146, 148, 173);
  font-family: SF Compact Display;
  font-size: 24px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 1px;
}

.Feetbacks {
  margin: 0 0 56px 0;
}

.Feetbacks-text {
  color: rgb(146, 148, 173);
  font-family: SF Compact Display;
  font-size: 24px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 1px;
}

/* ---------------------Main-------------------- */
.Main {
  padding: 0 0 80px 0;
}

.Main-container {
  width: 918px;
  margin: 0 auto;
}

.Main-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.General-inf-about-user {
  min-width: 918px;
  min-height: 275px;
  border-radius: 16px;
  box-shadow: 0px 8px 250px 0px rgb(239, 242, 250);
  background: rgb(255, 255, 255);
  margin: 0px 0 56px 0;
}

.General-inf-about-user-inner {

  display: flex;
  flex-direction: column;
}

.General-inf {
  padding: 48px 0 0 64px;
  margin: 0 0 56px 0;
}

.General-inf p {
  color: rgb(146, 148, 173);
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 1px;
}

.Other-inf-about-user {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin: 0 0 0 67px;
}

.Other-inf-about-user-row:not(:last-child) {
  margin: 0 35px 0 0;
}

.Other-inf-about-user-row img {
  margin: 0 12px 0 0;
}

.Other-inf-about-user-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Other-inf-about-user-row p {
  color: rgb(2, 4, 2);
  font-family: SF Compact Display;
  font-size: 16px;
  font-weight: 400;
  line-height: 135%;
  letter-spacing: 1px;
}

._green {
  color: rgb(130, 209, 115) !important;
  font-family: SF Compact Display;
  font-size: 16px;
  font-weight: 400;
  line-height: 135%;
  letter-spacing: 1px;
}

/* -----------------------User-page-feedbacks-------------------------- */
.User-page-feedbacks {
  display: flex;
  flex-direction: column;
  width: 918px;
  border-radius: 16px;
  box-shadow: 0px 8px 250px 0px rgb(239, 242, 250);
  background: rgb(255, 255, 255);
}

.Feedbacks-container {
  padding: 48px 64px 98px;
}

.Feedbacks-header {
  margin: 0 0 85px 0;
}

.Feedbacks-header-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Feedback-text {
  display: flex;
  flex-direction: row;
  text-align: center;
  min-height: 43px;
}

.Feedback-text p {
  color: rgb(146, 148, 173);
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 1px;
  margin: 0 8px 0 0;
}

.Feedback-degree {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.Feedback-degree p {
  color: rgb(146, 148, 173);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 1px;
}

.Append-feedback {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  box-sizing: border-box;
  border: 2px solid rgba(82, 166, 222, 0.15);
  border-radius: 8px;
}

.Leave-feedback-icon {
  margin: 0 8px 0 0;
}

.Append-feedback p {
  color: rgb(82, 166, 222);
  font-family: SF Compact Display;
  font-size: 14px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 1px;
}

/* --------------Client-feedbacks------------------------------- */
.Client-feedbacks {}

.Client-feedbacks-column {
  display: flex;
  flex-direction: column;

}

.Client-feedback-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  min-height: 144px;
  margin: 0 0 120px 0;
}

.Client-feedback-item:not(:last-child) {
  margin: 0 0 56px 0;
}

.Feedback-item-left-side {
  display: flex;
  align-items: flex-start;
  margin: 0 24px 0 0;
}

.Feedback-item-right-side {
  display: flex;
  flex-direction: column;
}

.Client-nickname {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 500;
  line-height: 120%;
}

.Feedback-rating-and-date {
  display: flex;
  flex-direction: row;
  margin: 16px 0;
}

.Feedback-stars {
  min-width: 112px;
  margin: 0 16px 0 0;
}

.Feedback-stars img:not(:last-child) {
  margin: 0 8px 0 0;

}

.Date-publication {
  color: rgb(146, 148, 173);
  font-size: 14px;
  font-weight: 500;
  line-height: 120%;
}

.Client-feedback-text {
  color: rgb(2, 4, 2);
  font-size: 16px;
  font-weight: 400;
  line-height: 135%;
}





@media (max-width:576px) {
  .Header-container{
    width: 375px;
    margin: 0 auto;
  }
  .User-card-avatar{
      margin: 0 0 16px 0;
  }
  .User-card-avatar>img{
      width: 104px;
  }
  .User-card-fullname{
      margin: 0 0 16px 0;
  }
  .Fullname-text{
      color: rgb(255, 255, 255);
      font-size: 28px;
  }
  .User-card-rate{
      margin: 0 0 8px 0;
  }
  .rate-text{
      color: rgb(255, 255, 255);
      font-size: 14px;
  }
  .Feetbacks{
      margin: 0 0 32px 0;
  }
  .Feetbacks-text{
      color: rgb(255, 255, 255);
      font-size: 14px;
  }
  .User-card-btns{
      flex-direction: column;
      margin: 0 0 48px 0;
  }
  .Btn-send-message{
      box-sizing: border-box;
      border: 1px solid rgb(255, 255, 255);
      border-radius: 8px;
      box-shadow: 0px 8px 32px 0px rgba(27, 138, 212, 0.5);
      margin: 0 0 16px 0;
  }
  .Btn-send-message-inner{
      color: rgb(255, 255, 255);
      font-size: 14px;
  }
  .Btn-send-numb{
      box-sizing: border-box;
      border: 1px solid rgb(255, 255, 255);
      border-radius: 8px;
      box-shadow: 0px 8px 32px 0px rgba(27, 138, 212, 0.5);
  }
  .Btn-send-numb-inner{
      color: rgb(255, 255, 255);
      font-size: 14px;
  }
  /* .Main-container{
      width: 100%;
      max-width: 375px;
      margin: 0 auto;
  } */
  .General-inf-about-user{
      min-width: max-content;
      box-sizing: border-box;
      border: 1px solid rgb(217, 219, 241);
      border-radius: 16px;
      background: rgb(255, 255, 255);
  }
  .General-inf{
      margin: 0 0 32px 0;
      padding: 48px 48px 0 16px;
  }
  .Other-inf-about-user{
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 0 0 69px 0;
  }
  .Other-inf-about-user-row:not(:last-child){
      margin: 0 0 16px 0;
  }
  .User-page-feedbacks{
      width: 100%;
      max-width: 375px;
      border: 0;
      border-radius: 0px;
      box-shadow: none;
      background: inherit;
  }
  .Client-feedback-item:not(:last-child){
      margin: 0 0 32px 0;
  }
  .Feedback-item-left-side{
      margin: 0 16px 0 0;
      width: 48px;
      height: 48px;
  }
  .Feedbacks-container{
      padding: 104px 0 0 0;
  }
  .Client-nickname{
      color: rgb(2, 4, 2);
      font-size: 14px;
  }
  .Feedback-rating-and-date{
      margin: 4px 0 20px 0;
      align-items: center;
  }
  .Feedback-stars{
      margin: 0 4px 0 0;
  }
  .Feedback-stars>img:not(:last-child){
      margin: 0 4px 0 0;
  }
  .Client-feedback-text{
      font-size: 14px;
      margin: 0 0 0 -65px;
  }
  .Date-publication{
      font-size: 12px;
  }

  .Feedback-degree{
      display: none;
  }
  .Append-feedback{
      display: none;
  }

  
}