ul li {
    list-style: none;
  }
  
  img {
    vertical-align: top;
  }
  a, a:visited {
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
    margin: 0;
  }
  p{
    margin: 0;
  }
/*----------------------Component--------------------------------*/
.ChatList-wrapper{
    width: 100%;
    height: 100vh;
}
.Chat-wrapper_header_container_backBtn{
    display: inline-flex;
    width: 100%;
    max-width: 123px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 72px 0 0 0;
    padding: 14px 24px;
    box-sizing: border-box;
    border: 1px solid rgb(82, 166, 222);;
    border-radius: 100px;
}
.Chat-wrapper_header_container_backBtn>img{
    margin: 0 12px 0 0;
}
.Chat-wrapper_header_container_backBtn_link{
    color: rgb(82, 166, 222);
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
}


/* -------------HEADER----------------------------------------- */
.Chat-wrapper_header{
    width: 100%;
    background: linear-gradient(90.00deg,
        rgb(239, 242, 250),rgba(239, 242, 250, 0.7) 100%);
    min-height: 735px;
}
.Chat-wrapper_header_container{
    max-width: 1440px;
    margin: 0 auto;
}
.Chat-wrapper_header_container_menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0 0 0;
}
.Chat-wrapper_header_container_menu_list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.Chat-wrapper_header_container_menu_list_userName{
    color: rgb(2, 4, 2);
    font-family: SF Compact Display;
    font-size: 16px;
    font-weight: 500;
    line-height: 135%;
    margin: 0 16px 0 0;
}
.Chat-wrapper_header_container_menu_list_icons>img:first-child{
    margin: 0 16px 0 0;
}
/* -----------ChatList-wrapper_main----------------------- */

.ChatList-wrapper_main{
    position: relative;
    width: 100%;
    margin: -500px 0 0 0;
}
.ChatList-wrapper_main::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 150px;
    background: -webkit-linear-gradient(bottom, rgba(255,255,255, 0.0), #fff 100%);
    background: linear-gradient(to bottom, rgba(255,255,255, 0.0), #fff 100%);
}
.ChatList-wrapper_main_container{
    max-width: 918px;
    margin: 0 auto;
    background: #FFF;
    border-radius: 8px;
    max-height: 1176px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: hsl(0 0% 50%);
}
.ChatList-wrapper_main_container::-webkit-scrollbar{
    background: linear-gradient(90.00deg, rgb(239, 242, 250),rgba(239, 242, 250, 0.7) 100%);
}
.ChatList-wrapper_main_container::-webkit-scrollbar-thumb{
    background-color: rgb(82, 166, 222);
}
.ChatList-wrapper_main_container_columns{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
.ChatList-wrapper_main_container_columns_item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(217, 219, 241);
    padding: 32px 64px;
}
.ChatList-wrapper_main_container_columns_item>img{
    margin: 0 24px 0 0;
}
.ChatList-wrapper_main_container_columns_item_content_name{
    color: rgb(0, 0, 0);
    font-family: SF Compact Display;
    font-size: 24px;
    font-weight: 500;
    line-height: 120%;
    margin: 0 0 16px 0;
}
.ChatList-wrapper_main_container_columns_item_content_datePublication{
    color: rgb(146, 148, 173);
    font-family: SF Compact Display;
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
    margin: 0 0 16px 0;
}
.ChatList-wrapper_main_container_columns_item_text{
    color: rgb(2, 4, 2);
    font-family: SF Compact Display;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;

}